<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>About Us - Lunar Lounge</title>
</head>
<body>
    <img class="topleft-gif" src="/sakuya.gif" alt="Top Left Gif">
    <img class="topright-gif" src="/genjii.gif" alt="Top Right Gif">

    <header>
        <h1>Lunar Lounge Suggestion Page</h1>
        <nav>
            <ul>
                <li><a href="/">Suggestion Page</a></li>
                <li><a href="/about-us">About Us</a></li>
            </ul>
        </nav>
        <h2>Feel free to speak your mind :)</h2>
    </header>
    <main>
        <h1>About Us</h1>
        <p>We are Dutocordians.</p>
        <p>We are Legion.</p>
        <p>We do not Forgive.</p>
        <p>We do not Forget.</p>
        <p>EXPECT US!</p>
    </main>
</body>
</html>
