<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Lunar Lounge Chat Room</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
        #entrance-text h1 {
            font-family: 'Audiowide', cursive;
        }
    </style>
</head>
<body>
    <!-- MUSIC -->
    <audio id="bg-music" loop>
        <source src="/Treasure_Mountain.ogg" type="audio/ogg">
    </audio>

    <div id="welcome-screen" onclick="removeWelcomeScreen(event)">
        <div id="entrance-text">
            <h1>Welcome to the Lunar Lounge!</h1>
            <p>Click anywhere to enter...</p>
        </div>
    </div>

    <div id="main-content" style="display: none;">
        <button id="mute-button" onclick="toggleMute()">Mute/Unmute Music</button>

       

        <script>
            function removeWelcomeScreen(event) {
                document.getElementById("welcome-screen").style.display = "none";
                document.getElementById("main-content").style.display = "block";
                var music = document.getElementById("bg-music");
                music.play();

                // Set flag in localStorage
                localStorage.setItem('welcomeScreenSeen', 'true');
            }


            function toggleMute() {
                var music = document.getElementById("bg-music");
                music.muted = !music.muted;
            }

            window.onload = function() {
                if(localStorage.getItem('welcomeScreenSeen') === 'true') {
                    document.getElementById("welcome-screen").style.display = "none";
                    document.getElementById("main-content").style.display = "block";
                    var music = document.getElementById("bg-music");
                    music.play();
                }
            }

        </script>

        
    

    <img class="topleft-gif" src="/sakuya.gif" alt="Top Left Gif">
    <img class="topright-gif" src="/genjii.gif" alt="Top Right Gif">
    <img class="bottomleft-gif" src="/aya1.gif" alt="Bottom Left Gif">
    <img class="bottomright-gif" src="/dio.gif" alt="Bottom Right Gif">
    <img class="middleright-gif" src="/cirno2.gif" alt="Middle Right Gif">

    <header>
        <h1>Lunar Lounge Suggestion Page</h1>
        <nav>
            <ul>
                <li><a href="/">Suggestion Page</a></li>
                <li><a href="/about-us">About Us</a></li>
            </ul>
        </nav>
        <h2>Feel free to speak your mind :)</h2>
    </header>
    <main>
        <div class="header-container">
            <img class="left-gif" src="/reisen1.gif" alt="Left Gif">
            <img class="center-gif" src="/yuukawave.gif" alt="Center Gif">
            <div class="header-text">
                <h1>Leave your suggestions here</h1>
                <h2>Type your message in the box at the bottom of the page</h2>
            </div>
        </div>

        <img class="right-gif" src="/cirno1.gif" alt="Right Gif">
        <img class="middleleft-gif" src="/mamizou.gif" alt="Middle Left Gif">
        <img class="centertop-gif" src="/reisenidle.gif" alt="Center Top Gif">
        <img class="centerbottom-gif" src="/sakuya2.gif" alt="Center Bottom Gif">
        <img class="farleft-gif" src="/seiha.gif" alt="Far Left Gif">
        <img class="farright-gif" src="/seiran1.gif" alt="Far Right Gif">

        <div id="messages-container">
            <!-- Messages will be displayed here -->
        </div>
        <form id="chat-form">
            <label for="username">Enter your username (optional):</label>
            <input type="text" id="username" name="username">

            <input type="text" id="message" name="message" placeholder="Message" required>
            <button type="submit" class="send-btn">Send</button>
        </form>
    </main>
    <img class="snoop-gif" src="/snoopsmall.gif" alt="Bottom Left Gif">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts.js"></script>
</body>
</html>
