body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(179, 25, 179); 
  padding-bottom: 1vh; /* Adjust this value to create more space at the bottom */
}


header {
  background-image: url('https://cdn.donmai.us/original/85/b1/__hakurei_reimu_touhou_drawn_by_haru_akira__85b19a8fab4cfe9e81e4d0879ccfae50.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
}

#entrance-text h1,
#entrance-text p {
    display: block;
    width: 100%;
    text-align: center;
}


#welcome-screen h1 {
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  font-size: 2em;
}

#welcome-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Change this as per your needs */
  z-index: 9999; /* This ensures that the div appears above all other content */
}


.header-container {
  position: relative;
}

.marisa-gif {
  position: absolute;
  right: 1%; 
  bottom: 1%
}

.snoop-gif {
  position: fixed;
  left: 1%; 
  bottom: 0%
}

.left-gif {
  position: absolute;
  z-index: 1;
  right: 30%; 
}


.header-text {
  position: relative;
  z-index: 0;  /* This will place the text behind the gif */
}

.right-gif {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.topleft-gif {
  position: fixed;
  z-index: 1;  /* This makes the gif appear on top of other elements */
  top: 0;
  left: 0;
  top: 2%;
}

.topright-gif {
  position: fixed;
  top: 0;
  right: 0;
  top: 2%;
}

.bottomleft-gif {
  position: absolute;
  bottom: 0;
  right: 70%;
}

.bottomright-gif {
  position: absolute;
  bottom: 0.5%;
  right: 40%;
}

.middleright-gif {
  position: absolute;
  top: 88.48%;
  right: 15%;
}

.middleleft-gif {
  position: absolute;
  bottom: 10%;
  right: 33%;
}

.centertop-gif {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateX(-50%);
}

.centerbottom-gif {
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
}

.farleft-gif {
  position: fixed;
  top: 75%;
  right: 100%;
}

.farright-gif {
  position: fixed;
  top: 75%;
  right: 0;
}

.center-gif {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.left-gif, .right-gif, .topleft-gif, .topright-gif, .bottomleft-gif, .bottomright-gif, .middleright-gif, .middleleft-gif, .centertop-gif, .centerbottom-gif, .farleft-gif, .farright-gif, .center-gif {
  pointer-events: none;
}


header h1, header h2 {
  text-align: center;
  color: white;
  padding: 20px 0;  /* You can adjust this value to position your text */
}

  main {
      margin-left: 50px;
  }
  
  #username {
      max-width: 300px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  #messages-container {
    border: 1px solid #ccc;
    height: 300px;
    margin: 2rem 0;
    overflow-y: auto;
    padding: 1rem;
  }
  
  form#chat-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    width: 100%;
  }
  
  .send-btn {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }
  
  .send-btn:hover {
    background-color: #0056b3;
  }
  
  form#chat-form label {
    display: inline-block;
    margin-right: 10px;
  }
  
  .message {
    margin: 20px 0;
  }